@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-top: 10px;
}

.task-manager-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: solid 1px gray;
  padding: 20px;
  width: 80%;
}

.task-manager-header {
  font-weight: 700;
  align-self: center;
  margin-bottom: 16px;
}

.task-manager-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-manager-input-field {
  padding: 5px;
}

.task-manager-add-button {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px 8px;
}

.tasks-list {
  margin-top: 15px;
}

.tasks-filter {
  display: flex;
}

.tasks-filter-select {
  padding: 5px;
  border: solid 1px;
  border-radius: 5px;
  width: 100%;
}

.tasks-view {
  margin-top: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks-view > li {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.tasks-view > li > button {
  background-color: red;
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
}

.task-item {
  display: flex;
  gap: 5px;
}
